body {
	font-family: Roboto, sans-serif, Helvetica, Arial, sans-serif;
	margin:0;
}

h1, h2 {
	color: #62aa4e;
}

button {
	border-color:transparent;
	background-color: red;
	color:white;
	text-transform: uppercase;
	box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
	cursor:pointer;
}

summary {
	outline:none;
	cursor:pointer;
}

p {
	display:inline;
}
hr {
	margin-top:3px;
	margin-bottom: 3px; 
}

tr,th,td {
	text-align: center;
}

#ext_list li {
	display:inline-block;
}

.popover {
    white-space: pre-wrap;    
}

#file {
	display:none;
}

#header {
	font-size:3em;
	position:absolute;
	margin:0;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
}
#header_div {
	position:fixed;
	top:0;
	height:100px;
	background-color: #ebf1f3;
	width:100%;
	border-bottom: 1px solid black;
	z-index: 1;
}
#header_div img {
	position:relative;
	top:30px;
	left:70px;
	height:50px;
	cursor:pointer;
}

#btn_choose_mini {
	position:absolute;
	top:50%;
	transform: translate(-50%,-50%);
	right:10%;
	border-radius: 4px;
}

#btn_choose {
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	border-radius: 10px;

	font-size: 3em;
}

#chart {
	overflow-x:scroll;
	overflow-y:hidden;
}

#chart_page {
	width:90%;
}

.hidden {
	display:none !important;
}

#header_div h1, #header_div button {
	display:inline;
}

#footer {
	text-align: center;
	width:100%;
	background-image:  linear-gradient(to bottom, white , #86c7ca);
}

.footer_start {
	position:absolute;
	top:100%;
	transform: translate(-50%,-100%);
	left:50%;
	height:100px;
}
.footer_page {
	height:100px;
	z-index:-2;
}
#footer img {
	height:60px;
	margin-bottom: 20px;
	margin-top: 20px;
}

#show_details_icon {
	width:20px;
	margin-left: 10px;
	display:inline;
	cursor:pointer;
}

.one_page {
	margin-top:80px;
	margin-left:5%;
	width:90%;
}

.clickable {
	cursor:pointer;
}

.mini_table {
	margin-left:50px;
}

.storage_td {
	max-width:10em;
	overflow-x: hidden;
	white-space: pre;
	font-family: "Courier New", Courier, monospace;
	font-size:0.9em;
}