body {
	margin-top:4vh;
	margin-left:4vw;
	margin-right:4vw;
	margin-bottom:4vh;
}

h1 {
	height:5vh;
	margin-top:1vh;
	margin-left:1vw;
	margin-right:1vw;
	margin-bottom:2vh;
}

#json {
	font-family: "Lucida Console", Monaco, monospace;
	width:90vw;
	height:83vh;
}
