
body {
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 90%;
	margin:3px;
}

table {
	width:100%;
	height: 100%;
	border-collapse: collapse;
	text-align: center;
}

td {
    white-space: nowrap;
	border: 1px solid black;
	padding: 10px;
}

#btn_record {
	background-color:lime;
	cursor:pointer;
}

#btn_json {
	cursor:pointer;
}