
body {
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 15px;
	margin:3px;
}

table {
	border-collapse: collapse;
	text-align: center;
}

td {
	height:30px;
    white-space: nowrap;
	border: 1px solid black;
	padding: 10px;
}

#btn_record {
	background-color:lime;
	cursor:pointer;
}

#img_record {
	margin:5px;
}

#text_record {
	margin: 5px;
}

#btn_json {
	cursor:pointer;
}

.icons {
	width:50px;
	height:50px;
}
