body {
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 100%;
}

#popupBody {
	margin:3px;
	font-size:95%;
}

table {
	border-collapse: collapse;
	text-align: center;
}

td {
	height:30px;
	line-height: 170%;
    white-space: nowrap;
	border: 1px solid black;
	padding: 10px;
	transition: all 0.5s ease 0s;
}

h1 {
	display:inline-block;
	font-family: "Segoe UI", Tahoma, sans-serif;
	margin:0.5vh;
}

button {
	border: 1px solid;
	border-radius: 100px;
	background-color: lemonchiffon;
}
button:focus {
	outline:0;
}

span {
	line-height: 150%;
	transition: all 0.5s ease 0s;
}

#img_record {
	margin:5px;
}

#text_record {
	margin: 5px;
}

#confirm {
	background-color: yellow;
}

#confirm_text {
	transition: opacity 0.1s linear 0s;
}

#confirm_yes {
	width:50%;
}

#confirm_no {
	width:50%;
}

#options {
	text-align: left;
}

.icons {
	width:50px;
	height:50px;
}

.clickable {
	cursor:pointer;
}

td.hidden, td.hidden p, td.hidden button {
	font-size:0;
	max-height:0;
	height:0;
	padding: 0;
	border:0;
	margin:0;
	box-sizing: border-box;
	overflow: hidden;
}

#jsonBody {
	margin-top:4vh;
	margin-left:4vw;
	margin-right:4vw;
	margin-bottom:4vh;
}

#header {
	height:5vh;
	margin-top:1vh;
	margin-left:1vw;
	margin-right:1vw;
	margin-bottom:2vh;
	width:90vw;
}

#json {
	font-family: "Lucida Console", Monaco, monospace;
	width:90vw;
	height:83vh;
}

#buttonsContainer {
	display: inline-block;
	float:right;
}

.selection_button {
	display:inline-block;
	margin:1px;
	float:right;
}
