body {
	font-family: Roboto, sans-serif, Helvetica, Arial, sans-serif;
	font-size: 100%;
	color:#17405e;
}

h1 {
	display:inline-block;
	font-family: Roboto, sans-serif, Helvetica, Arial, sans-serif;
	margin:0.5vh;
	color:#17405e;
}

table {
	overflow: hidden;
}

button {
	border-radius: 4px;
	border-color:transparent;
	background-color: red;
	color:white;
	font-weight: 700;
	text-transform: uppercase;
	box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
	cursor:pointer;
}
button:focus {
	outline:0;
}
button:hover {
	box-shadow: 0 6px 6px 0 rgba(30,30,30,0.2);
}

span {
	line-height: 150%;
	transition: all 0.5s ease 0s;
}

summary {
	outline:none;
	cursor:pointer;
}

.icons {
	width:50px;
	height:50px;
}

.clickable {
	cursor:pointer;
}

div.hidden, div.hidden p, div.hidden button {
	font-size:0 !important;	
	max-height:0 !important;	
	height:0 !important;	
	padding: 0 !important;
	border:0 !important;
	margin:0 !important;
	box-sizing: border-box !important;
	overflow: hidden !important;
}

.selection_button {
	display:block;
	margin:1px;
	float:left;
}

/* POPUP */ 

#popupBody {
	font-size:100%;
	overflow:hidden;
	white-space: nowrap;
	transition: all 0.5s ease 0s;
	display:block;

	background-image: linear-gradient(to top, white , #ebf1f3);
}

#headline img {
	margin:5px;
	height:30px;
}

#popupBody table {
	border-collapse: collapse;
	text-align: center;
}

#popupBody hr {
	background-color: #f5f5f5;
	border-color:transparent;
	margin:2px;
}

#btn_record {
	margin:15px;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:20px;
	padding-right:20px;
}

#bug_div {
	text-align:right;
	text-transform: uppercase;
}

#bug_div img {
	height:15px;
}

#options {
	margin-left:20%;
	display:block;
}

#text_record {
	margin: 5px;
}

#confirm_text {
	transition: opacity 0.1s linear 0s;
	text-align: center;
}

#confirm {
	transition: all 0.5s ease 0s;
	text-align: center;
}

#confirm_yes {
	width:30%;
	margin-right:10%;
}

#confirm_no {
	width:30%;
	margin-left:10%;
}

#opt_headline {
	color:#62aa4e;
	font-weight: bold;
	margin-left:5px;
}

.popupWrapper {
	margin:10px;
}

/* JSON */

details {
	display:inline-block;
}

#jsonBody table {
	border-collapse: collapse;
	margin-right:1vw;
}
#jsonBody td {
	padding:2px;
	border: 1px solid black;
}

#jsonBody button {
	vertical-align: middle;
}

#jsonBody {
	margin-top:4vh;
	margin-left:4vw;
	margin-right:4vw;
	margin-bottom:4vh;

	background-image: linear-gradient(to top, white , #ebf1f3);
}

#jsonBody button {
	font-weight: inherit;
	background-color:#44ad3f;
}

#header {
	height:5vh;
	margin-top:0vh;
	margin-left:1vw;
	margin-right:1vw;
	margin-bottom:3vh;
	width:90vw;
	text-align: center;
	color:#62aa4e;
}

#json {
	font-family: "Lucida Console", Monaco, monospace;
	height:82vh;
	width:60vw;
	display:inline;
	/*
	background-image: url("../icons/icon128.png");
	background-position: center; 
	background-repeat: no-repeat; 
	background-size: 83vh;*/
}

#buttonsContainer {
	display:inline;
}

#arrayButtons {
	text-align: center;
}
#optionButtons {
	text-align: center;
}

.delete_icon {
	position:absolute;
	right:1vw;
	height:1.5em;
}

#option_panel {
	display:inline-block;
	vertical-align: top;
	width:300px;
	margin-left:3vw;
}

#jsonBody .column {
	display:inline-block;
	vertical-align: top;
	padding:1px;
}
